In [1]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/e99a526b2e7ccc6c3b70f53db43a87d2/raw/1605fc74aa778066bf2e6695e24d53cf65f2f447/machine-learning-carros-simulacao.csv"
dados = pd.read_csv(uri).drop(columns=["Unnamed: 0"], axis=1)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               18  35085.22134
1   40557.96        1               20  12622.05362
2   89627.50        0               12  11440.79806
3   95276.14        0                3  43167.32682
4  117384.68        1                4  12770.11290

In [2]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

x = dados[['preco', 'idade_do_modelo', 'km_por_ano']]
y = dados['vendido']

SEED = 158020
np.random.seed(SEED)

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size=0.25, stratify=y)
print(f'Treinamento com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos')

Treinamento com 7500 elementos e testaremos com 2500 elementos

In [3]:
from sklearn.dummy import DummyClassifier

dummy_classifier = DummyClassifier()
dummy_classifier.fit(treino_x, treino_y)
acuracia = dummy_classifier.score(teste_x, teste_y) * 100

print(f'A acurácia do dummy classifier foi {round(acuracia, 2)}%')

A acurácia do dummy classifier foi 58.0%

In [4]:
from sklearn.tree import DecisionTreeClassifier

SEED = 158020
np.random.seed(SEED)

modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print(f'A acurácia foi {round(acuracia, 2)}%')

A acurácia foi 71.92%

In [5]:
x = dados[['preco', 'idade_do_modelo', 'km_por_ano']]
y = dados['vendido']

SEED = 5
np.random.seed(SEED)

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size=0.25, stratify=y)
print(f'Treinamento com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos')

modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print(f'A acurácia foi {round(acuracia, 2)}%')

Treinamento com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 76.84%

In [6]:
from sklearn.model_selection import cross_validate

SEED = 301
np.random.seed(SEED)

modelo = DecisionTreeClassifier(max_depth=2)
resultados = cross_validate(modelo, x, y, cv=3, return_train_score=False)

media = resultados['test_score'].mean()
desvio_padrao = resultados['test_score'].std()
print(f'Acurracy com cross validation, 3 = [{round((media - 2 * desvio_padrao) * 100, 2)},  {round((media + 2 * desvio_padrao) * 100, 2)}]')

Acurracy com cross validation, 3 = [74.99,  76.57]

In [7]:
SEED = 301
np.random.seed(SEED)

modelo = DecisionTreeClassifier(max_depth=2)
resultados = cross_validate(modelo, x, y, cv=10, return_train_score=False)

media = resultados['test_score'].mean()
desvio_padrao = resultados['test_score'].std()
print(f'Acurracy com cross validation, 10 = [{round((media - 2 * desvio_padrao) * 100, 2)},  {round((media + 2 * desvio_padrao) * 100, 2)}]')

Acurracy com cross validation, 10 = [74.24,  77.32]

In [8]:
SEED = 301
np.random.seed(SEED)

modelo = DecisionTreeClassifier(max_depth=2)
resultados = cross_validate(modelo, x, y, cv=5, return_train_score=False)

media = resultados['test_score'].mean()
desvio_padrao = resultados['test_score'].std()
print(f'Acurracy com cross validation, 5 = [{round((media - 2 * desvio_padrao) * 100, 2)},  {round((media + 2 * desvio_padrao) * 100, 2)}]')

Acurracy com cross validation, 5 = [75.21,  76.35]

# Aleatoriedade no cross validate

In [9]:
def imprime_resultados(resultados):
    media = resultados['test_score'].mean()
    desvio_padrao = resultados['test_score'].std()
    print(f'Accuracy médio: {round(media * 100, 2)}')
    print(f'Acurracy intervalo: [{round((media - 2 * desvio_padrao) * 100, 2)},  {round((media + 2 * desvio_padrao) * 100, 2)}]')

In [10]:
from sklearn.model_selection import KFold

SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits=10)
modelo = DecisionTreeClassifier(max_depth=2)
resultados = cross_validate(modelo, x, y, cv=cv, return_train_score=False)

imprime_resultados(resultados)

Accuracy médio: 75.78
Acurracy intervalo: [74.37,  77.19]

In [11]:
from sklearn.model_selection import KFold

SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits=10, shuffle=True)
modelo = DecisionTreeClassifier(max_depth=2)
resultados = cross_validate(modelo, x, y, cv=cv, return_train_score=False)

imprime_resultados(resultados)

Accuracy médio: 75.76
Acurracy intervalo: [73.26,  78.26]

# Simular situação horrível de azar

Pode ser "azar" como pode ser uma proporção de exemplos desbalanceadas entre as classes.

In [12]:
dados_azar = dados.sort_values('vendido', ascending=True)
x_azar = dados_azar[['preco', 'idade_do_modelo', 'km_por_ano']]
y_azar = dados_azar['vendido']

dados_azar.head()

         preco  vendido  idade_do_modelo   km_por_ano
4999  74023.29        0               12  24812.80412
5322  84843.49        0               13  23095.63834
5319  83100.27        0               19  36240.72746
5316  87932.13        0               16  32249.56426
5315  77937.01        0               15  28414.50704

In [13]:
from sklearn.model_selection import KFold

SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits=10)
modelo = DecisionTreeClassifier(max_depth=2)
resultados = cross_validate(modelo, x_azar, y_azar, cv=cv, return_train_score=False)

imprime_resultados(resultados)

Accuracy médio: 57.84
Acurracy intervalo: [34.29,  81.39]

In [14]:
from sklearn.model_selection import KFold

SEED = 301
np.random.seed(SEED)

cv = KFold(n_splits=10, shuffle=True)
modelo = DecisionTreeClassifier(max_depth=2)
resultados = cross_validate(modelo, x_azar, y_azar, cv=cv, return_train_score=False)

imprime_resultados(resultados)

Accuracy médio: 75.78
Acurracy intervalo: [72.3,  79.26]

In [15]:
from sklearn.model_selection import StratifiedKFold

SEED = 301
np.random.seed(SEED)

cv = StratifiedKFold(n_splits=10, shuffle=True)
modelo = DecisionTreeClassifier(max_depth=2)
resultados = cross_validate(modelo, x_azar, y_azar, cv=cv, return_train_score=False)

imprime_resultados(resultados)

Accuracy médio: 75.78
Acurracy intervalo: [73.55,  78.01]

In [16]:
np.random.seed(SEED)
dados['modelo'] = dados['idade_do_modelo'] + np.random.randint(-2, 3, size=len(dados['idade_do_modelo']))
dados['modelo'] = dados['modelo'] + abs(dados['modelo'].min()) + 1
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano  modelo
0   30941.02        1               18  35085.22134      18
1   40557.96        1               20  12622.05362      24
2   89627.50        0               12  11440.79806      14
3   95276.14        0                3  43167.32682       6
4  117384.68        1                4  12770.11290       5

In [17]:
dados['modelo'].value_counts()

20    901
19    798
18    771
21    723
17    709
16    668
14    621
22    575
15    573
13    557
12    511
11    401
10    371
23    370
9     336
8     278
7     206
24    199
6     181
5     108
4      76
3      44
2      17
1       6
Name: modelo, dtype: int64

In [21]:
from sklearn.model_selection import GroupKFold

SEED = 301
np.random.seed(SEED)

cv = GroupKFold(n_splits=10)
modelo = DecisionTreeClassifier(max_depth=2)
resultados = cross_validate(modelo, x_azar, y_azar, cv=cv, groups=dados['modelo'], return_train_score=False)

imprime_resultados(resultados)

Accuracy médio: 75.78
Acurracy intervalo: [73.67,  77.9]